<%= form_with model: @category do |f| %>
    <div class="form-proper">
        <div>
        <%= f.object.errors.full_messages.join(", ") if f.object.errors.any? %>
        </div>
        <div>
            <%= f.label :name %><br>
            <%= f.text_field :name, class: "text-field" %><br><br>
        </div>
        <div>
            <%= f.label :description %><br>
            <%= f.text_field :description, class: "text-field" %><br><br>
        </div>
        <div>
            <%= f.submit %>
        </div>
    </div>
<% end %>
