<!DOCTYPE html>
<html>
  <head>
    <title>Simple-ToDo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= devise_error_messages! %>
    <% flash.each do |key, value| %>
       <div class="flash-messages <%= key %>"><%= value %></div>
    <% end %>
    <div class="main-menu">
    <h1>Simple-ToDo</h1>
      <%= yield %>
    </div>
  </body>
</html>
